.Menu {
    background-color: rgb(236, 236, 236);
    min-height: calc(100vh + 1px);
}

.Menu .Navbar {
    margin-bottom: 3%;
}

.Menu.blurred {
    background-color: rgb(228, 228, 228);
    height: calc(100vh + 1px);
    overflow: hidden;
    pointer-events: none !important;
}