.NutritionFacts.displayed{
    display: block;
    position: fixed;
}

.NutritionFacts {
    width: 450px;
    height: 450px;
    background-color: white;
    z-index: 1;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}